{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Домашняя страница</a> Зарегистрировать курс</div>

<p class="title-1">Добавить и разместить курс</p>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger">
    <i class="fas fa-exclamation-circle"></i>{{ message }}
</div>
{% else %}
<div class="alert alert-success">
    <i class="fas fa-check-circle"></i>{{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}


{% if is_calender_on == False %}

<div class="alert bg-danger">
    <h1 class="text-light text-center">Ошибка</h1>
    <h5 class="text-light text-center">Ошибка</h5>
</div>

{% else %}

{% if not all_courses_are_registered %}

<form action="{% url 'course_registration' %}" method="POST">{% csrf_token %}
    <div class="col-md-12 p-0 bg-white">
        <p class="form-title">
            <b>Добавить курс </b>
        <div class="level-wrapper">
            <div class="info-text">{{ student.level }}</div>
        </div>
        </p>
        <div class="container">
            <div class="d-flex justify-content-between mb-3">
                <button title="Save Score" type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add
                    Selected</button>
            </div>

            <div class="table-responsive p-0 px-2 mt-2">
                <div class="table-title"><u>Первый семестр:</u></div>
                <div class="table-shadow">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Маркировка</th>
                                <th>Код курса</th>
                                <th>Название курса</th>
                                <th>Год</th>
                                <th>Классификация</th>
                                <th>Элективы</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                            {% if course.semester == "First" %}
                            <tr>
                                <th scope="row">
                                    <input name="{{ course.pk }}" value="{{ course.courseUnit }}" type="checkbox">
                                </th>
                                <td>{{ course.code }}</td>
                                <td>{{ course.title }}</td>
                                <td>{{ course.year }}</td>
                                {% if course.is_elective %}
                                <td>Электив</td>
                                {% else %}
                                <td>Задания</td>
                                {% endif %}
                                <th>-</th>
                            </tr>
                            {% endif %}
                            {% empty %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class="text-danger">
                                        <i class="far fa-frown"></i>Нет курсов
                                    </span>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="table-responsive p-0 px-2 mt-2">
                <div class="table-title"><u>Второй семестр:</u></div>
                <div class="table-shadow">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Маркировка</th>
                                <th>Код курса</th>
                                <th>Название курса</th>
                                <th>Год</th>
                                <th>Классификация</th>
                                <th>Элективы</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                            {% if course.semester == "Second" %}
                            <tr>
                                <th scope="row">
                                    <input name="{{ course.pk }}" value="{{ course.courseUnit }}" type="checkbox">
                                </th>
                                <td>{{ course.code }}</td>
                                <td>{{ course.title }}</td>
                                <td>{{ course.credit }}</td>
                                <td>{{ course.year }}</td>
                                {% if course.is_elective %}
                                <td>Электив</td>
                                {% else %}
                                <td>Задания</td>
                                {% endif %}
                                <th>-</th>
                            </tr>
                            {% endif %}
                            {% empty %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class="text-danger">
                                        <i class="far fa-frown"></i>Нет курсов
                                    </span>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
<br>
<br>

{% if not no_course_is_registered %}

<a target="_blank" href="{% url 'course_registration_form' %}">
    <span title="Print Registration Form" class="btn btn-warning">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i><i class="fas fa-print"></i> Распечатать форму регистрации
    </span>
</a>

<div class="col-md-12 p-0 bg-white">
    <p class="form-title"><b>Выложить курс</b>
    <div class="level-wrapper">
        <div class="info-text">{{ student.level }}</div>
    </div>
    </p>
    <div class="container">
        <form action="{% url 'course_drop' %}" method="POST">
            {% csrf_token %}
            <div class="d-flex justify-content-between mb-4">
                <button title="Save Score" type="submit" class="btn btn-primary">
                    <i class="fa fa-times"></i> Выложить выбранные
                </button>
            </div>

            <div class="table-responsive p-0 px-2 mt-2">
                <div class="table-shadow">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Маркировка</th>
                                <th>Код курса</th>
                                <th>Название курса</th>
                                <th>Год</th>
                                <th>Классификация</th>
                                <th>Элективы</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in registered_courses %}
                            <tr>
                                <th scope="row">
                                    <input name="{{ course.pk }}" value="{{ course.courseUnit }}" type="checkbox">
                                </th>
                                <td>{{ course.code }}</td>
                                <td>{{ course.title }}</td>
                                <td>{{ course.credit }}</td>
                                <td>{{ course.year }}</td>
                                {% if course.is_elective %}
                                <td>Электив</td>
                                {% else %}
                                <td>Задания</td>
                                {% endif %}
                                <th>-</th>
                            </tr>
                            {% empty %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class="text-danger">
                                        <i class="far fa-frown"></i>Нет курсов
                                    </span>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

{% endif %}

{% endif %}

{% endblock content %}