{% extends 'registration/registration_base.html' %}
{% block title %}Email Sent | DjangoLMS{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">Email sent</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>Было отправлено электронное письмо с инструкциями для сброса пароля, проверьте свою электронную почту.
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>Вернуться ко входу</a>
  </div>
</div>
{% endblock content %}
