{% extends 'registration/registration_base.html' %}
{% block title %}Password Reset Complete | DjangoLMS{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">Пароль успешно сброшен</h3>
    <div class="container">
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>Ваш пароль был установлен, теперь вы можете войти в систему!
      </div>
      <a class="btn btn-primary" href="{% url 'login' %}">Войти здесь</a>
    </div>
</div>
{% endblock content %}
