{% extends 'base.html' %}

{% block content %}

<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Домашняя страница</a> <i>&rsaquo;</i>
    <a href="{% url 'programs' %}" class="primary1"> Программы обучения </a> <i>&rsaquo;</i>
    <a href="{% url 'program_detail' course.program.id %}" class="primary1"> {{ course.program }}</a> <i>&rsaquo;</i> 
    <a href="{{ course.get_absolute_url }}" class="primary1">{{ course }}</a> <i>&rsaquo;</i> 
    <a href="{% url 'quiz_index' course.slug %}" class="primary1">Список тестов</a> <i>&rsaquo;</i> Добавить вопросы для теста "{{ quiz_obj }}"</div>

<div class="container">

    <div class="header-title-xl text-center mt-4">Форма добавления вопросов</div>
    <div class="title-line mb-5"></div>

    <div class="info-text bg-orange mb-3">добавлено вопросов: {{ quizQuestions }} </div>

    <form action="#" method="POST">{% csrf_token %}
        {% if form.errors %}<p class="alert alert-danger">Исправьте ошибку заполнения</p>{% endif %}
        <div class="row">
            <div class="col mx-3 py-4 border bg-white">
                <div class="form-group" hidden>
                    <label for="title">{{ form.quiz.label }}</label> {{ form.quiz }}
                    <span class="danger">{{ form.quiz.errors }}</span>
                    <small class="d-block text-muted">Удерживайте кнопку "Control" или "Command" на Mac, чтобы выбрать несколько.</small>
                </div>
                <div class="form-group">
                    <label for="content">{{ form.content.label }}</label> {{ form.content }}
                    <span class="danger">{{ form.content.errors }}</span>
                    <small class="d-block text-muted">Введите текст вопроса</small>
                </div>
                <div class="form-group">
                    <label for="figure">{{ form.figure.label }}</label> {{ form.figure }}
                    <span class="danger">{{ form.figure.errors }}</span>
                    <small class="d-block text-muted">Добавьте изображение, если это нужно</small>
                </div>
                <div class="form-group">
                    <label for="explanation">{{ form.explanation.label }}</label> {{ form.explanation }}
                    <span class="danger">{{ form.explanation.errors }}</span>
                    <small class="d-block text-muted">Обьяснение правильного ответа.</small>
                </div>
            </div>
            <div class="col mx-3 py-4 border bg-white">
                <div class="form-group">
                    <label for="choice_order">{{ form.choice_order.label }}</label> {{ form.choice_order }}
                    <span class="danger">{{ form.choice_order.errors }}</span>
                    <small class="d-block text-muted">Порядок отображения</small>
                </div>
                <div class="border py-3">
                    <div class="lead text-center">Варианты ответов</div>
                {{ formset.management_form }}
                {% for fs in formset %}
                    <label for="username">{{ fs.label }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ fs.correct }} <small class="ml-1">Правильный</small></span>
                        </div>
                        {{ fs.choice }}
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ fs.DELETE }} <small class="ml-1">Удалить</small></span>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <center>
            <button type="submit" formnovalidate name="another" class="btn btn-lg btn-outline-primary">
                Сохранить и добавить следующий
            </button>
            <button class="btn btn-lg btn-primary my-4" type="submit">Сохранить</button>
        </center>



    </form>
</div>

{% endblock %}
