{% extends 'base.html' %}

{% block content %}

<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Домашняя страница</a> <i>&rsaquo;</i>
    <a href="{% url 'programs' %}" class="primary1"> Программы обучения </a> <i>&rsaquo;</i>
    <a href="{% url 'program_detail' course.program.id %}" class="primary1"> {{ course.program }}</a> <i>&rsaquo;</i> 
    <a href="{{ course.get_absolute_url }}" class="primary1">{{ course }}</a> <i>&rsaquo;</i> 
    <a href="{% url 'quiz_index' course.slug %}" class="primary1">Тесты</a> <i>&rsaquo;</i> Добавить тест</div>

<div class="container">
    <div class="header-title-xl text-center">Форма добавления теста для {{ course }}</div>
    <div class="title-line mb-5"></div>

    <form action="" method="POST">{% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="card p-2">
                    <div class="form-group" hidden>
                        <label for="course">{{ form.course.label }}</label><br> {{ form.course }}
                        <span class="danger">{{ form.course.errors }}</span>
                        <span class="danger">{{ form.course.errors }}</span>
                    </div>
                    <div class="form-group">
                        <label for="category">Вид теста</label> {{ form.category }}
                        <span class="danger">{{ form.category.errors }}</span>
                    </div>
                    <div class="form-group">
                        <label for="title">{{ form.title.label }}</label>
                        {{ form.title }}
                    </div>

                    <div class="form-group">
                        <label for="pass_mark">{{ form.pass_mark.label }}</label>
                        {{ form.pass_mark }}
                        <span class="danger">{{ form.pass_mark.errors }}</span>
                        <small class="d-block text-muted">Процент, необходимый для прохождения.</small>
                    </div>
                    <div class="form-group">
                        <label for="description">{{ form.description.label }}</label><br>
                        {{ form.description }}
                        <span class="danger">{{ form.description.errors }}</span>
                        <small class="d-block text-muted">Описание теста</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-3">
                    <div class="form-group" hidden>
                        <label for="questions">{{ form.questions.label }}</label><br> {{ form.questions }}
                        <span class="danger">{{ form.questions.errors }}</span>
                        <small class="d-block text-muted">Удерживайте кнопку "Control" или "Command" на Mac, чтобы выбрать несколько.</small>
                    </div>
                    <div class="form-group">
                        <label for="random_order">{{ form.random_order.label }}</label>
                        {{ form.random_order }}
                        <span class="danger">{{ form.random_order.errors }}</span>
                        <small class="d-block text-muted">Отображать вопросы в случайном порядке или как они добавлены?</small>
                    </div>
                    <div class="form-group">
                        <label for="answers_at_end">{{ form.answers_at_end.label }}</label>
                        {{ form.answers_at_end }}
                        <span class="danger">{{ form.answers_at_end.errors }}</span>
                        <small class="d-block text-muted">Показывает правильный ответ.</small>
                    </div>
                    <div class="form-group">
                        <label for="exam_paper">{{ form.exam_paper.label }}</label>
                        {{ form.exam_paper }}
                        <span class="danger">{{ form.exam_paper.errors }}</span>
                        <small class="d-block text-muted">Если да, результат каждой попытки пользователя будет сохранен.</small>
                    </div>
                    <div class="form-group">
                        <label for="single_attempt">{{ form.single_attempt.label }}</label>
                        {{ form.single_attempt }}
                        <span class="danger">{{ form.single_attempt.errors }}</span>
                        <small class="d-block text-muted">Если да, то пользователю будет разрешена только одна попытка.</small>
                    </div>
                    <div class="form-group">
                        <label for="draft">{{ form.draft.label }}</label>
                        {{ form.draft }}
                        <span class="danger">{{ form.draft.errors }}</span>
                        <small class="d-block text-muted">Если да, тест не отображается в списке тестов, и его могут пройти только пользователи, которые могут редактировать тесты.</small>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <button class="btn btn-lg btn-primary my-4" id="{% if form.is_valid %}btn-transition{% endif %}" type="submit">Сохранить и продолжить</button>
        </center>
    </form>
</div>

{% endblock %}

{% block js %}
<script>
    const transitionButton = document.getElementById('btn-transition');
    transitionButton.addEventListener('click', () => {
        document.getElementById('card-transition').style.animation = 'card-transition 5s ease-in-out forwards';
    })
</script>
{% endblock js %}
